.form {
    /* text-align: right; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
}

.form .button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    font-weight: bold;
}

.form .button:hover,
.form .button:active {
    background-color: #641e03;
    border-color: #641e03;
}

.btn_qty{
    margin: 0.5rem;
    font: inherit;
    cursor: pointer;
    background-color: #b94517;
    border: 1px solid #b94517;
    color: white;
}